<div class="card">
  <h3>{{ title }}</h3>
  <img width="200" src="{{ image }}" alt="{{ title }}"/>
  <p>Description: {{ description }}</p>
  <p>Players: {{ people }}</p>
  <p>Time: {{ time }}</p>
</div>